<div id="<%=dom_id(list)%>"
     class="bg-white flex-1 rounded space-y-4 pb-2"
     data-controller="list update"
     data-list-id="<%=list.id%>"
     data-action="insertTodo->list#insert"
     data-update-name-value="List"
     data-update-id-value="<%=list.id%>"
     data-plan-target="plan">
  <%= render partial: 'lists/panel_contents', locals: { list: list } %>
</div>