<div id="list-panel-<%=list.id%>"
     data-controller="list"
     data-list-animation="150"
     data-list-handle=".handle"
     data-list-resource-name="todo"
     data-list-id="<%= list.id%>" >
  <%= render partial: 'lists/panel_contents', locals: { list: list } %>
</div>