<div id="list-panel-<%=list.id%>"
     data-controller="list update"
     data-list-id="<%= list.id%>"
     data-update-name-value="List"
     data-update-id-value="<%= list.id%>" >
  <%= render partial: 'lists/panel_contents', locals: { list: list } %>
</div>