<div id="<%=dom_id(list_set, 'items')%>"
    <% if list_set.user_managed %>
      data-controller="sortable"
      data-sortable-name-value="ListSet"
      data-sortable-handle=".handle"
    <% end %>
>
  <% list_set.lists.each do |list| %>
    <div data-list-id="<%= list.id %>" class="hover:bg-green-100">
      <%= link_to(list.name, list) %>
      <% if list_set.user_managed %>
        <span class="handle float-right">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 297" width="16" height="16" class="inline fill-current text-green-600">
            <g>
              <path d="M42.352,106.148C18.999,106.148,0,125.147,0,148.5c0,23.353,18.999,42.352,42.352,42.352
                c23.353,0,42.352-18.999,42.352-42.352C84.704,125.147,65.705,106.148,42.352,106.148z"/>
              <path d="M148.5,106.148c-23.353,0-42.352,18.999-42.352,42.352c0,23.353,18.999,42.352,42.352,42.352
                s42.352-18.999,42.352-42.352C190.852,125.147,171.853,106.148,148.5,106.148z"/>
              <path d="M254.648,106.148c-23.353,0-42.352,18.999-42.352,42.352c0,23.353,18.999,42.352,42.352,42.352S297,171.853,297,148.5
                C297,125.147,278.001,106.148,254.648,106.148z"/>
            </g>
          </svg>
        </span>
      <% end %>
    </div>
  <% end %>
</div>