<div id="list-set-items-<%=list_set.id%>"
    <% if list_set.user_managed %>
      data-controller="sortable"
      data-sortable-name-value="ListSet"
      data-sortable-handle=".handle"
    <% end %>
>
  <% list_set.lists.each do |list| %>
    <div data-list-id="<%= list.id %>">
      <%= link_to(list.name, list) %>
      <% if list_set.user_managed %>
        <span class="handle">handle</span>
      <% end %>
    </div>
  <% end %>
</div>