<div id="todo-row-<%= todo.id %>" data-controller="todo" data-todo-id="<%= todo.id%>" data-action="deleteTodo->todo#serverdelete">
  <%= render partial: 'todos/entry_contents', locals: { todo: todo } %>
</div>
