<div id="<%=dom_id(todo)%>"
    class="flex flex-col space-y-2"
    data-controller="todo"
    data-todo-id-value="<%=todo.id%>"
    data-reflex-dataset="combined">
  <%= render partial: 'todos/entry_contents', locals: { todo: todo } %>
</div>
