<div id="sidebar" class="flex flex-col py-4 space-y-4 w-full">
  <%= render partial: 'list_sets/plan_set', locals: { user: current_user } %>

  <%= render partial: 'list_sets/current_set', locals: { user: current_user } %>

  <div id="archive_lists" class="bg-white text-black p-2 border border-green-100 rounded">
    <div>Archive Lists</div>
    <% current_user.lists.where(list_set_id: nil).each do |list| %>
      <div class="hover:bg-green-100">
        <%= link_to(list.name, list) %>
      </div>
    <% end %>
  </div>
</div>
